In [1]:
import pylab
import calendar
import numpy as np
import pandas as pd
import seaborn as sn
from scipy import stats
#import missingno as msno
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data = pd.read_json("train.json")

In [6]:
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [10]:
from textblob import TextBlob
import sys  

reload(sys)  
sys.setdefaultencoding('utf8')
from textblob import TextBlob
Polarity = map(lambda x: TextBlob(x),data.description)

In [31]:
low = data[data['interest_level']=='low']
med = data[data['interest_level']=='medium']
high = data[data['interest_level']=='high']

In [25]:
result=[]
for i in range(len(Polarity)):
    k = Polarity[i].sentiment.polarity
    result.append(k)

In [47]:
data['Description Polarity']=result

In [81]:
data[['bathrooms','bedrooms','price','Description Polarity']]

        bathrooms  bedrooms  price  Description Polarity
10            1.5         3   3000              0.221488
10000         1.0         2   5465              0.000000
100004        1.0         1   2850              0.258001
100007        1.0         1   3275              0.160000
100013        1.0         4   3350              0.410000
100014        2.0         4   7995              0.000000
100016        1.0         2   3600              0.466209
100020        2.0         1   5645              0.378671
100026        1.0         1   1725              0.000000
100027        2.0         4   5800              0.335758
100030        1.0         0   1950              0.335227
10004         1.0         1   1675              0.370982
100044        1.0         2   3000              0.383313
100048        2.0         2   6895              0.100000
10005         1.0         1   3050              0.089167
100051        1.0         0   2350              0.217667
100052        1.0         2   3650              0.542857
100053        1.0         1   1695              0.369173
100055        1.0         4   5000              0.000000
100058        1.0         1   3973              0.000000
100062        1.0         3   4395              0.319340
100063        1.0         2   2999              0.381818
100065        1.0         1   2595              0.000000
100066        1.0         1   3695              0.162143
10007         2.0         4   7400              0.370136
100071        3.5         4   7500              0.449786
100075        1.0         1   2295              0.526420
100076        1.0         1   3164              0.361134
100079        1.0         1   1350              0.000000
100081        2.0         2   5600              0.150000
...           ...       ...    ...                   ...
99915         1.0         1   3126              0.242411
99917         1.0         1   3325              0.000000
99919         1.0         0   2100              0.209259
99921         1.0         2   3500              0.209286
99923         2.0         2  11950              0.152374
99924         1.0         1   2980              0.371786
99931         1.0         1   2850              0.256061
99933         1.0         2   2885              0.108855
99935         1.0         1   2950              0.033712
99937         1.5         0   2650              0.350000
9994          1.0         2   4850              0.470833
99953         1.0         1   3475              0.298162
99956         2.0         2   5815              0.143750
99960         1.0         1   2050              0.324596
99961         2.0         3   4600              0.442679
99964         1.0         0   2000              0.308260
99965         2.0         3   9200              0.003571
99966         1.0         3   4550              0.394697
99979         1.0         1   1900              0.000000
99980         1.0         0   2500              0.275000
99982         1.0         1   2500              0.469758
99984         1.0         1   2675              0.230265
99986         1.0         1   3645              0.378283
99987         1.0         1   2179              0.414419
99988         1.0         1   4500              0.180317
9999          1.0         2   3200              0.192273
99991         1.0         1   3950              0.319153
99992         1.0         1   2595              0.229821
99993         1.0         0   3350              0.265000
99994         1.0         2   2200              0.162372

[49352 rows x 4 columns]

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['bathrooms','bedrooms','price']], data['interest_level'], test_size=0.2, random_state=42)

In [91]:
#Support Vector Machine
from sklearn import svm
clf = svm.SVC(decision_function_shape='ovo',tol=0.00000001)
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=1e-08, verbose=False)

In [92]:
clf.score(X_train,y_train) #Model accuracy for SVM

0.71801626098629723

In [93]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,clf.predict(X_test)) #Test dataset accuracy for SVM

0.69141930908722515

In [94]:
#Multinomial Naive Bayes
from sklearn import naive_bayes
mnb = naive_bayes.MultinomialNB()
mnb.fit(X_train,y_train)
mnb.score(X_train,y_train) #Model accuracy

0.69582837314151114

In [95]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,mnb.predict(X_test)) #Test dataset accuracy

0.68787356904062402

In [97]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators=10)
clf1 = clf1.fit(X_train,y_train)
clf1.score(X_train,y_train)

0.73230161343431022

In [98]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,clf1.predict(X_test))

0.68098470266437039

In [107]:
#GradientBoostingClassifier
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
clf2 = GradientBoostingClassifier(n_estimators=20, learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, y_train)
clf2 = clf2.fit(X_train,y_train)
clf2.score(X_train,y_train)

0.70124870190724653

In [108]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,clf2.predict(X_test))

0.69476243541687777